.wrapper
  = render "side_bar"
  .chat-main
    .chat-main-header
      .chat-main-header-left
        .chat-main-header-left-top
          = @group.name
        .chat-main-header-left-bottom
          Member : 
          - @group.users.each do |user|
            = user.name
      .chat-main-header-right
        = link_to edit_group_path(@group) do
          .chat-main-header-right-edit
            edit
    .chat-main-message
      = render @messages
    .chat-main-form
      = form_for [@group, @message] do |f|
        .chat-main-form-box
          = f.text_field :content, class: 'chat-main-form-box-message', placeholder: 'type a message'
          .chat-main-form-box-message-icon
            = f.label :image do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'chat-main-form-box-send'
